html,body{
    background-color: #0f1117;
    color: #4e515a;
}

/**
  Navbar Settings
 */

.nav{
    height: 100px;
}

.navbar-orca{
    background-color: #272a31;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 100px;
    padding-top: 0;
}

.nav>li
{
    transform: skewX(-20deg);
    border-left: 2px solid white;
    height: 100px;
}

.nav>li>a
{
    color: #0f1117;
    transform: skewX(20deg);
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    height: 100px;
    vertical-align: middle;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: underline;
    background-color: #0d6aad;
    transform: skewX(0deg);
}

.nav>li>a>span{
    padding: 0px 15px;
    vertical-align: middle;
}

.navbar-header
{
    transform: skewX(-20deg);
    min-height: 100px;
    background-color: #0d6aad;
}

.navbar-brand
{
    transform: skewX(20deg);
}

/**
    Home - Landing Page
 */

.lp-background
{
    background-image: url("../../assets/img/lp_background.png");
}